@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


body {
    background: grey;
    /* color: #ffffff; */
    font-family: 'Space Mono', monospace;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container {
    width: 100%;
    margin: auto;
}

.nav-logo {
    width: 80px;
}

.nav-bar {
    background: #000000;
    font-size: 17px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    padding: 0px 0;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li {
    padding: 10px;
}

.nav-bar ul li a:hover {
    border-bottom: 2px solid #ffffff;
}

.nav-bar ul.nav-options {
    flex: 1;
    margin-left: 20px;
}
